<!-- <ul>
    <li><a routerLink="/workouts" fragment="section1">Workouts</a></li>
    <li><a routerLink="/exercises" fragment="section2">Exercises</a></li>
  </ul> -->
  
  <!-- Контент -->
  <a routerLink="." fragment="workouts">
    <div  id="section1" style="height: 30px; background-color: lightblue;">
      <h2>Workouts</h2>
    </div>
  </a>
  <a routerLink="." fragment="exercises">
    <div  id="section2" style="height: 30px; background-color: lightgreen;">
      <h2>Exercises</h2>
    </div>
  </a>